# Environment variables
.env
backend/.env

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Models & weight files
backend/models/
*.pt
*.onnx
*.caffemodel
*.prototxt

# Virtual environments
.venv/
env/
venv/

# Snapshots, Targets, Video & Image Media Directories
snapshots/
backend/snapshots/
video/
backend/video/
image/
backend/image/
targets/
backend/targets/

# IDE & OS temporary files
.vscode/
.idea/
.DS_Store